.header{
    box-shadow: -2px 0px 8px 2px rgba(0, 0, 0, 0.1);
    background: rgb(255, 255, 255);
    height: 60px;
}
.header__component{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}
.logo{
    flex: 1;
}
.logorick{
    text-align: center;
    margin-top: 16px;
}
.burger__btn{
    display: none;
    position: relative;
    width: 24px;
    height: 24px;
    background-color: #ffffff;
    margin-top: 16px;
    margin-left: auto;
    margin-left: auto;
}
.burger__btn span{
    position: absolute;
    width: 24px;
    height: 3px;
    background-color: #000000;
    left: 0px;
    transition: transform .5s, opacity .5s;
}
.burger__btn span:nth-child(1){
    transform: translateY(-10px);
}
.burger__btn span:nth-child(3){
    transform: translateY(10px);
}
.burger__btn.open span:nth-child(2) {
    opacity: 0;
}
.burger__btn.open span:nth-child(1) {
    transform: translateY(0) rotate(45deg);
}

.burger__btn.open span:nth-child(3) {
    transform: translateY(0) rotate(-45deg);
}
.nav{
    flex: 1;
}
.nav ul{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 20px;
}
.nav ul li:last-child{
    margin-right: 0;
}
.nav ul li a{
    margin-right: 10px;
    color: rgb(0, 0, 0);
    font-family: Karla;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: center;
}
.wrapper{
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 40px;
}
.search{
    width: 500px;
    height: 56px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    margin-right: 20px;
    color: rgba(0, 0, 0, 0.5);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
    padding-left: 35px; 
    box-sizing: border-box; 
}
.filters{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}
.input__container{
    position: relative;
    display: flex;
    align-items: center;
}
.input__icon{
    position: absolute;
    left: 10px; 
    pointer-events: none; 
    fill: #fdfafa; 
}
.EpisodesBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}
.episodesCard{
    width: 240px;
    height: 128px;
    border-radius: 4px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.14),0px 3px 4px 0px rgba(0, 0, 0, 0.12),0px 1px 5px 0px rgba(0, 0, 0, 0.2);
    background: rgb(250, 250, 250);
    margin-right: 20px;
    margin-top: 24px;
    transition: background-color 0.5s, color 0.5s; 
}
.episodesCard__name{
    display: flex;
    color: rgba(0, 0, 0, 0.87);
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.15px;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
}
.episodesCard__date{
    color: rgba(0, 0, 0, 0.6);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.25px;
    text-align: center;
}
.episodesCard__seriesNumber{
    color: rgba(0, 0, 0, 0.6);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.25px;
    text-align: center;
}
.buttonShowMore{
    display: block;
    width: 154px;
    height: 36px;
    margin: 0 auto;
    margin-top: 48px;
    border-radius: 4px;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.14),0px 1px 18px 0px rgba(0, 0, 0, 0.12),0px 3px 5px 0px rgba(0, 0, 0, 0.2);
    background: rgb(242, 249, 254);
    color: rgb(33, 150, 243);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 1.25px;
    text-align: center;
    text-transform: uppercase;
}

.episodesCard__name,
.episodesCard__date,
.episodesCard__seriesNumber{
    transition: color 0.3s;
}


.episodesCard:hover {
    background-color: black;
    color: white;
}



.episodesCard:hover .episodesCard__name,
.episodesCard:hover .episodesCard__date,
.episodesCard:hover .episodesCard__seriesNumber {
    color: white; 
}


@media screen and (min-width: 992px) and (max-width: 1199px) {
    .dropdown{
        width: 200px;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .dropdown{
        margin-top: 10px;
    }
    .search{
        margin-top: 10px;
    }
}
@media screen and (max-width: 767px){

    .burger__btn{
        display: block;
        margin-right: 20px;
    }
    .nav{
        position: absolute;
        display: flex;
        justify-content: center;
        margin-top: 70px;
        z-index: 1;
        width: 100%;
        height: calc(100vh - 60px);
        background-color: #fff;
        transform: translateX(-100%); 
        transition: transform .5s ease-in-out;
    }
    .nav ul{
        position: relative;
        display: block;
    }
    .nav ul li{
        margin-top: 15px;
        text-align: center;
    }
    .nav.open{
        transform: translateX(0%);
    }
    .dropdown{
        margin-top: 10px;
    }
    .search{
        margin-top: 10px;
        width: 280px;
        margin: 0 auto;
    }
    .logorick img{
        max-width: 400px;
    }
}
@media screen and (max-width: 480px){
    .dropdown{
        margin-top: 10px;
    }
    .logorick img{
        max-width: 320px;
    }  
}
@media screen and (max-width: 320px){
    .dropdown{
        margin-top: 10px;
    }
    .logorick img{
        max-width: 200px;
    }
}